*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: blue;
}

.con{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.con h1{
    font-weight: 25px;
    color:#001e4d ;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;
}

.quiz h2{
    padding: 20px 0;
}


.quiz h2{
    font-size: 18px;
    color:#001e4d;
    font-weight: 600;
}

.btn{
    background: #fff;
    font-weight: 500;
    color: #222;
    border: 1px solid #222;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#last{
    background: #001e4d;
    color:#fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}


.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}